body {
  background-color: rgb(136, 133, 133);
  font: normal 15pt Arial;

}

header {
  background: rgb(100, 100, 10);
  width: 500px;
  padding: 15px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 5px 5px 10px rgb(33, 33, 43);
  text-align: center;
}

section {
  background: rgb(144, 212, 233);
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgb(33, 33, 43)
}

footer {
  background: rgb(8, 54, 50);
  width: 500px;
  padding: 15px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 5px 5px 10px rgb(33, 33, 43);
  text-align: center;
}